* {
  font-family: Arial, Helvetica, sans-serif;
}

.crd {
  margin-bottom: 20px;
}

.crd-title {
  font-size: 19px;
  color: rgb(1, 71, 201);
}

.crd-title:hover {
  color: rgb(0, 41, 155);
}

.crd-text {
  font-size: 15px;
  margin-bottom: -3px;
}

.crd-link {
  font-size: 15px;
  line-height: 1em;
  color: rgb(20, 20, 20);
  text-decoration: none;
}

.crd-link:hover {
  color: rgb(20, 20, 20);
  text-decoration: none;
}

.lnk-bottom {
  display: none;
}